{% extends 'AppBlog/padre.html' %}

{% load static %}

{% block contenido_avatar %}

    <img class='mx-2' height='50px' src='{{url}}' alt='Avatar' title='Avatar'>

{% endblock %}

{% block titulo_header %}

    <h1>Iniciar Sesión</h1>

{% endblock %}

{% block contenido_principal %}

    <div class='mb-4'>
        <div class='container px-4 px-lg-5'>
            <form class='form-group text-center' action='' method='POST'>{% csrf_token %}
                <table class='table'>
                    {{form.as_p}}
                </table>
                {% if errors %}
                    {% for error in errors %}
                        <p style='margin-top: -32px;' class='alert alert-danger'>{{error}}</p>
                    {% endfor %}
                {% endif %}
                <input type='submit' value='INICIAR SESIÓN' class='btn btn-primary'>
                <p>¿No tenés una cuenta? !Registrate ahora!</p>
                <a class='btn btn-primary' href='{% url "Register" %}'>CREAR CUENTA</a>
                <button type='button' class='btn btn-primary position-relative mx-2'>
                    <a href='{% url "Inicio" %}' style='color: white;'>IR A INICIO</a>
                </button>
            </form>
        </div>
    </div>

{% endblock %}